<!DOCTYPE html>
<html>
  <head>
     <title>EchoFlow - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div class="barra barra-1"></div>
    <div class="barra barra-2">
      <h1>EchoFlow</h1></div>
  </head>
  <body>
    
    <div class="titulo">
      <h1 class="h1-body"></h1>
      <h1 class="h1-body"></h1>
    </div>
 <h2>EchoFlow - Login</h2>
 <h2></h2>
    <div class="container">
      <form action="/login" method="POST"> <!-- Adicionado formulário com action para /login -->
        <input placeholder="Usuário" class="input" name="text" type="text">
        <input placeholder="Senha" class="input" name="password" type="password">
        <button class="btn" type="submit">Entrar</button> <!-- type="submit" para enviar o form -->
        <a href="/cadastro"><button class="btn" type="button">Cadastrar</button></a>
      </form>
    </div>
    
    <div></div>
  </body>
  <footer>
  </footer>
</html>