<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>EchoFlow - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="barra barra-1"></div>
    <div class="barra barra-2">
        <h1>EchoFlow</h1>
    </div>

    <div class="titulo">
        <h2>EchoFlow - Login</h2>
    </div>

    <!-- Exibir mensagem de erro, se existir -->
    <% if (typeof erro !== 'undefined') { %>
      <div class="mensagem-erro"><%= erro %></div>
    <% } %>

    <div class="container">
      <form action="/login" method="POST">
        <input placeholder="Usuário" class="input" name="text" type="text" required>
        <input placeholder="Senha" class="input" name="password" type="password" required>
        <button class="btn" type="submit">Entrar</button>
        <a href="/cadastro"><button class="btn" type="button">Cadastrar</button></a>
      </form>
    </div>
</body>
<footer>
</footer>
</html>
