.barra-1 {
    background-color: red; /* Cor da primeira barra */
    height: 80px; /* Barra 1 maior */
    position: fixed; /* Posicionamento fixo */
    top: 0; /* Posiciona no topo da tela */
    left: 0; /* Alinha ao lado esquerdo da tela */
    z-index: 1;
    background: linear-gradient(to bottom, #6A00F4 40%, black 100%); /* Degradê na parte inferior */
    background: linear-gradient(135deg, #00AEEF, #6A00F4); /* Degradê diagonal */
    filter: blur(9px);
    width: 105%; /* A largura da barra 1 é um pouco maior que a da barra 2 */
    margin-left: -2.5%; /* Ajuste para centralizar a barra 1 e deixá-la maior */
}

.barra-2 {
    background-color: blue; /* Cor da segunda barra */
    height: 80px; /* Barra 2 menor */
    position: fixed; /* Posicionamento fixo */
    top: 40px; /* Posiciona logo abaixo da barra 1 */
    left: 0; /* Alinha ao lado esquerdo da tela */
    z-index: 2; /* Barra azul ficará acima da vermelha */
    margin-top: -60px; /* Move a barra azul para cima */
    background: linear-gradient(135deg, #00AEEF, #6A00F4); /* Degradê diagonal */
    font-size: 16px; /* Tamanho da fonte */
    font-family: 'LINEMAS';
    display: flex; /* Use flexbox to align h1 and header */
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Space between h1 and header */
    padding: 0 20px; /* Add padding for better spacing */
}



h2 {
  margin-top: 100px; /* Aumente para dar espaço suficiente entre a barra e as categorias */
  margin-bottom: 20px; /* Espaço abaixo do título */
  text-align: center; /* Centraliza o texto */
}